<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="none">
    <test name="Complete Test Suite">
        <parameter name="env" value="DEFAULT"/>
        <classes>
            <class name="tests.HomePageTest"/>
            <class name="tests.LoginPageTest"/>
            <class name="tests.HeaderBarTest"/>
            <class name="tests.MyAccountPageTest"/>
            <class name="tests.SingleProductPageTest"/>
            <class name="tests.CartPageTest"/>
            <class name="tests.SelectAddressTest"/>
        </classes>
    </test>
</suite>

